.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-tweet button {
  background-color: #4056A1;
  color: white;
}

.new-tweet  {
  font-family: 'bungee', 'sans serif';
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-bottom: 1em;
}

.new-tweet textarea {
  border-bottom-color: black;
  border-bottom: 1em;
  width: 90vw;
  resize: none;
}

.negative {
  color: red;
}

main.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}