.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans 3', 'sans serif';
  /* display: flex; */
  justify-content: first baseline;
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
  display: none;
}

.new-tweet button {
  background-color: #4056A1;
  color: white;
}

.new-tweet textarea {
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  resize: none;
  background-color: #f4f1ec;
}

.negative {
  color: red;
}

main.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans 3', sans-serif;
}

section.new-tweet div {
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  
}