article.tweet {
  width: 90%;
  height: fit-content;
  border: solid black 2px;
  justify-content: center;
  background-color: #f4f1ec;
  transition: box-shadow 0.3s ease;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

article.tweet:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

article.tweet header {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  flex-direction: row;
  background-color: #f4f1ec;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid black;
}

article.tweet i {
  transition: color 0.3s ease;
}

article.tweet i:hover {
  color: goldenrod;
}
