article.tweet {
  width: 90%;
  height: fit-content;
  border: solid black 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f4f1ec;
  transition: box-shadow 0.3s ease;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: 1.5em;
}

article.tweet:hover {
  box-shadow: 7px 12px 10px rgba(0, 0, 0, 0.5);
}

article.tweet header {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  margin: 0 auto;
  flex-direction: row;
  background-color: #f4f1ec;
  margin-top: 1em;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid black;
}

article.tweet i {
  transition: color 0.3s ease;
}

article.tweet i:hover {
  color: goldenrod;
}

article.tweet img {
  width: 5rem;
  height: 5rem;
}

.dim {
  opacity: 25%;
}

article.tweet p {
  inline-size: 400px;
  overflow-wrap: break-word;
  hyphens: manual;
}
